# Gradle files
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# Local configuration file (sdk path, etc)
local.properties

# Android Studio
.idea/
*.iml
*.ipr
*.iws
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.idea/gradle.xml
.idea/misc.xml
.idea/runConfigurations/

# Android Studio captures folder
captures/

# External native build folder generated in Android Studio 2.2 and later
.externalNativeBuild/
.cxx/

# Google Services (e.g. APIs or Firebase)
google-services.json

# Version control
*.orig

# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Build outputs
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/

# Local maven repository
.m2/

# Kotlin
*.kotlin_metadata
*.kotlin_module
*.kotlin_builtins
